<div id="sidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <a href="">+549 3417122151</a>
  <a href="mailto:jcfernandez@outlook.com.ar">Email me!</a>
  <a href="https://github.com/jcfernandezgithub">My Github</a>
  <a href="https://www.linkedin.com/in/jorge-cristian-fernandez-2b1a4394/">LinkedIn</a>
  <a href="skype:jcfernandez_6">Skype</a>
  <a href="https://github.com/jcfernandezgithub/online-resume">About this site!</a>
</div>

<div id="main">
  <button id="openbtn" class="openbtn" (click)="openNav()"><i class="fas fa-chevron-right"></i></button>
</div>

<!-- Personal Information -->
<div class="container-fluid info">

  <div class="row">
    <div class="col mx-auto pt-4 pb-4">
      <h1 class="text-center text-uppercase">JC Fernandez Web Developer</h1>
      <div class="d-flex justify-content-center">

        <ul class="list-group mr-5">
          <li class="list-group-item personal-info p-1">
            <i class="fas fa-phone circle p-1"></i>
            <span class="pl-2">+549 3417122151</span>
          </li>
          <li class="list-group-item personal-info p-1">
            <i class="far fa-envelope circle p-1"></i>
            <button ngxClipboard [cbContent]="'jcfernandez@outlook.com.ar'" class="btn btn-primary shadow-none p-0 pl-2"
              style="background:transparent; border:0;" (click)="showSuccess()">jcfernandez@outlook.com.ar</button>
          </li>
          <li class="list-group-item personal-info p-1">
            <i class="fab fa-github circle p-1"></i>
            <a href="https://github.com/jcfernandezgithub" style="color: #fff; text-decoration: none;"
              class="pl-2">/jcfernandezgithub</a>
          </li>
        </ul>

        <ul class="list-group mr-5">
          <li class="list-group-item personal-info p-1">
            <i class="fab fa-linkedin-in circle p-1"></i>
            <span class="pl-2"><a href="https://www.linkedin.com/in/jorge-cristian-fernandez-2b1a4394/"
                style="color: #fff; text-decoration: none;">Follow me!</a></span>
          </li>
          <li class="list-group-item personal-info p-1">
            <i class="fab fa-skype circle p-1"></i>
            <a href="skype:jcfernandez_6" style="color: #fff; text-decoration: none;" class="pl-2">Skype</a>
          </li>
          <li class="list-group-item personal-info p-1">
            <i class="fab fa-github circle p-1"></i>
            <a href="https://github.com/jcfernandezgithub/online-resume" style="color: #fff; text-decoration: none;"
              class="pl-2">About this site!</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<div class="container">

  <!-- Experience -->
  <div class="row">
    <div class="col-12 pt-3">
      <h4 class="text-uppercase d-inline">work experience</h4>
      <hr>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-4 d-block">
      <h5 class="mb-0">Operations & Support</h5>
      <p class="mb-0" style="color:rgb(144, 144, 144);">Capacity & Event Management</p>
      <p class="mb-0">Accenture</p>
      <p class="small mb-0">Argentina</p>
      <p class="small mb-0">April 20, 2015.</p>
    </div>
    <div class="col-8">
      <p class="lead mb-0">Main responsibilities were bring Infrastructure Services at global scale, manage and monitor
        the company network, AWS and Azure based, create and maintain Automation process and application architecture
        support.
      </p>
      <p class="lead"> These are some of the technologies used during this period:
        SQL, PowerShell, System Center Orchestrator, Operations Manager, RedHat Administration.
      </p>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-4 d-block">
      <h5 class="mb-0">Javascript Developer</h5>
      <p class="mb-0" style="color:rgb(144, 144, 144);">Service Now Initiative</p>
      <p class="mb-0">Accenture</p>
      <p class="small mb-0">Argentina</p>
      <p class="small mb-0">Oct 1st, 2017.</p>
    </div>
    <div class="col-8">
      <p class="lead">Assembling internal tool back end with Service Now front end. Whole point about this
        initiative was move backend processes related to monitoring to new service on Service Now. I created and
        replicated several processes on Service Now backend runbooks(Javascript). Also, adjust Event Management plugin
        configurations(specific plugin from Service Now to System Center Operation Manager).
      </p>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-4 d-block">
      <h5 class="mb-0">Application Architecture</h5>
      <p class="mb-0" style="color:rgb(144, 144, 144);">Capacity & Event Management</p>
      <p class="mb-0">Accenture</p>
      <p class="small mb-0">Argentina</p>
      <p class="small mb-0">Feb 1st, 2018 - Jun 21, 2019.</p>
    </div>
    <div class="col-8">
      <p class="lead mb-0">Investigate and implement changes in System Center Operations Manager Infrastructure and
        environment. Also, develop and maintain System Center Orchestrator runbooks written on powershell.
      </p>
      <p class="lead">The biggest contributions I made were implementation Mirroring for System Center Operations
        Manager(proud myself :P) & Open Source infrastructure management(Red Hat, Ubuntu).
      </p>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-4 d-block">
      <h5 class="mb-0">Web Developer</h5>
      <p class="mb-0" style="color:rgb(144, 144, 144);">Web Developement Department</p>
      <p class="mb-0">Overall Solutions</p>
      <p class="small mb-0">Argentina</p>
      <p class="small mb-0">Jun 21, 2019 - Current</p>
    </div>
    <div class="col-8">
      <p class="lead mb-0">Identifying user and system requirements for new websites and applications, prioritizing
        software development projects, setting timelines and assigning tasks to team members, creating wireframes to
        decide on layout, write or review code for various applications, run functionality testings and debug code,
        liaise with clients to decide on UI/UX elements (like graphics and navigation buttons).
      </p>
      <p class="lead">We've really wide spectrum of technologies, such as, PHP(Laravel), NodeJS(Server Side & Client
        Side), AngularJS, Databases SQL & NOSQL(MongoDb)...
      </p>
    </div>
  </div>

  <!-- Personal Projects -->
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">Personal Projects</h4>
      <hr>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-3">
      <h4>Found pet!</h4>
    </div>
    <div class="col-sm-12 col-md-7">
      <p class="lead">Found Pet! it's beta app I've published in Play Store it's a social community in Argentina. Core
        value of this community is locate pets around city. Applcation has been written entierly on Ionic 4.0.2 using
        Google Firebase service and distributed by Play
        Store.</p>
      <p class="lead">For more information about it, <a
          href="https://play.google.com/store/apps/details?id=io.foundpet.community.app">Found Pet!</a> </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-3">
      <h4>Streaming Site</h4>
    </div>
    <div class="col-sm-12 col-md-7">
      <p class="lead">Most recent project I've open is a streaming site that I'm writting on PHP Laravel and VueJS,
        was with the intention of learn VueJS on more real enviroment. Also, I'm using Vue Materials, interesting UI
        development tool.
        For this project don't have production environment but development is already placed, for take quick sight
        check
        on <a href="http://moviesite-development.esy.es">Streaming site!</a></p>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-3">
      <h4>Living Writer</h4>
    </div>
    <div class="col-sm-12 col-md-7">
      <p class="lead">I contributed on writing platform for freelance project acquired on Freelancer.com, check on <a
          href="http://livingwriter.com">Living Writer!</a></p>
    </div>
  </div>

  <!-- Skills -->
  <div class="row justify-content-center">

    <div class="col-12">
      <h4 class="text-uppercase">skills</h4>
      <hr>
    </div>

  </div>

  <div class="row d-flex justify-content-center">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center">
      <i class="fab fa-node fa-10x"></i>
      <p class="lead">NodeJS + Express</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center">
      <i class="fab fa-vuejs fa-10x"></i>
      <p class="lead text-center">VueJS</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center">
      <i class="fab fa-php fa-10x"></i>
      <p class="lead text-center">PHP Laravel</p>
    </div>

  </div>

  <div class="row justify-content-center align-content-center">

    <div class="col-sm-12 col-md-3 text-center">
      <i class="fab fa-angular fa-10x"></i>
      <p class="lead">Angular 8</p>
    </div>

  </div>

  <!-- Education -->
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">education</h4>
      <hr>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-12 col-md-3 mx-auto">
      <h4>Osvaldo Magnasco de Rosario.</h4>
      <small>Rosario, Santa Fe, Argentina.</small><br>
      <small>Graduated on Economy</small><br>
      <small>Request documents</small>
    </div>
    <div class="col-sm-12 col-md-3 mx-auto">
      <h4>Superior de Comercio N° 49 “Cap. Gral. J. J. de Urquiza </h4>
      <small>Rosario, Santa Fe, Argentina. </small><br>
      <small>Functional Analyst. </small><br>
      <small>Request docuents</small>
    </div>
    <div class="col-sm-12 col-md-3 mx-auto">
      <h4> Microsoft SQL Server Database Admin(20462) </h4>
      <small>Rosario, Santa Fe, Argentina.(Full Solutions - Microsoft Partners)</small><br>
      <small>Database Administrator</small><br>
      <small>Request documents</small>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid">
  <div class="col-12">
    <h5 class="text-center m-0">Designed by JC Developer</h5>
    <p class="text-center m-0">Inspired by Luba Life.</p>
  </div>
</div>
