<!-- Personal Information -->
<div class="container-fluid info">
  <div class="row">
    <div class="col mx-auto pt-4 pb-4">
      <h1 class="text-center text-uppercase">JC Fernandez Web Developer</h1>
      <div class="d-flex justify-content-center">
        <ul class="list-group mr-5">
          <li class="list-group-item p-1">
            <i class="fas fa-phone circle p-1"></i>
            <span class="pl-2">+549 3417122151</span>
          </li>
          <li class="list-group-item p-1">
            <i class="far fa-envelope circle p-1"></i>
            <span class="pl-2">jcfernandez@outlook.com.ar</span>
          </li>
          <li class="list-group-item p-1">
            <i class="fab fa-github circle p-1"></i>
            <span class="pl-2">/jcfernandezgithub</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item p-1">
            <i class="fab fa-linkedin-in circle p-1"></i>
            <span class="pl-2">+549 3417122151</span>
          </li>
          <li class="list-group-item p-1">
            <i class="far fa-envelope circle p-1"></i>
            <span class="pl-2">jcfernandez@outlook.com.ar</span>
          </li>
          <li class="list-group-item p-1">
            <i class="fab fa-github circle p-1"></i>
            <span class="pl-2">jcfernandezgithub</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <!-- Experience -->
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">work experience</h4>
      <hr>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-4 d-block">
      <h5 class="mb-0">Operations & Support</h5>
      <p class="mb-0" style="color:rgb(144, 144, 144);">Capacity & Event Management</p>
      <p class="mb-0">Accenture</p>
      <p class="mb-0">Argentina</p>
      <p class="mb-0">April 20, 2015.</p>
    </div>
    <div class="col-8">
      <p class="lead mb-0">Main responsibilities were bring Infrastructure Services at global scale, manage and monitor
        the
        company network, AWS and Azure based, create and maintain Automation process and application architecture
        support.
      </p>
      <p class="lead"> These are some of the technologies used during this period:
        SQL, PowerShell, System Center Orchestrator, Operations Manager, RedHat Administration
      </p>
    </div>
  </div>

  <!-- Personal Projects -->
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">Personal Projects</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">skills</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="text-uppercase d-inline">education</h4>
      <hr>
    </div>
  </div>

</div>
